body {color: black
}
body{ background-color: purple
;}
body{ font-size: larger
    ;}
        
body{margin-bottom: 20px;}


header { border: solid 5px black;
    color:black;
    font-size: 50px; 
    padding: 20px;}
    section{margin-bottom: 20px;}
    section{margin-top: 20px;}